* {
  box-sizing: border-box;
  margin: 50;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body.landing-page {
  min-height: 100vh;
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/background.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-card {
  background-color: #23334e;           
  border-radius: 1.25rem;
  padding: 2rem 2.5rem;
  width: 100%;
  max-width: 570px;
  text-align: center;
  box-shadow:
    0 50px 50px rgba(0,0,0,0.8),
    0 2px 3px rgba(0,0,0,0.6);
  border: 3px solid rgba(45, 29, 29, 0.07);
}

.app-title {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #f5c518; 
  text-align: center;
}


.tagline {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 0.95rem;
  color: #b5c3d6; 
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-style: italic;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}


.btn {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  border: 2px solid transparent;
  transition: all 0.15s ease;
  cursor: pointer;
}

/* main button */
.btn.sign-in {
  background-color: #eab308; /* amber-500 */
  color: #000;
}

.btn.sign-in:hover {
  background-color: #facc15; /* amber-400 */
  box-shadow: 0 10px 20px rgba(250,204,21,0.4);
}

/* outline button */
.btn.sign-up {
  background-color: transparent;
  color: #e2e8f0; /* slate-200 */
  border-color: #475569;        /* slate-600 */
}

.btn.sign-up:hover {
  background-color: #334155;    /* slate-700 */
  border-color: #e2e8f0;
  color: #fff;
}

.auth-form {
    display: flex;
    flex-direction: column;
    text-align: column;
    text-align: left;
    gap: 1rem;
    margin-bottom: 1rem;
}

.auth-form label {
    font-size: 1rem;
    color: #e2e8f0;
}

.auth-form input {
    padding: 0.6rem 0.8rem;
    border: radius 0.6rem;
    border: none;
    outline: none;
    background-color: #334155;
    color: #fff;
    font-size: 1.3rem;
}

.auth-form input::placeholder {
color: #94a3b8;
}
.auth-form input:focus {
    outline: 2px solid #facc15;
}
.small-text {
    font-size: 1rem;
    color: #94a3b8;
    text-align: center;
}
.small-text a {
  color: #facc15;
  text-decoration: none;
}

.small-text a:hover {
  text-decoration: underline;
}